<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar ativos</title>
    <link rel="stylesheet" href="{% static 'css/trades.css' %}">
</head>

<body>
    <h1>Buscar ativos</h1>
    
    <form action="{% url 'trades:stock_search' %}" method="post" id="trades-form">
        {% csrf_token %}
        <label for="stock_codes">Código(s) do(s) ativo(s) separados por vírgula (ex.:ATIVO1,ATIVO2,ATIVO3)</label>
        <input type="text" name="stock_codes" id="stock_codes" placeholder="ATIVO1,ATIVO2,ATIVO3">

        <input type="submit" value="Gerar trades">
    </form>
</body>

</html>